.trees
.worktrees
.venv
.env
.ruff_cache
.mypy_cache
.pytest_cache
.coverage
.coverage.*
.coverage.*.*
.coverage.*.*.*
.coverage.*.*.*.*
.coverage.*.*.*.*.*

# OS files
.DS_Store

# Python cache
__pycache__/
*.pyc
*.pyo

# Output files
# src/output/
.vercel
